<%- include("header") -%>

<h2>This is the about page</h2>

<p>Welcome to your to-do list , here you can manage all your stuff .You can write all the activities you are supposed to do throughout your day . SO make best use of your time with this to-do list!✌</p>

<%- include("footer") -%>
